* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background-image: url("../img/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  width: 100%;
  height: auto;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
ul a {
  color: #483285;
  text-decoration: none;
  padding: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0.5rem;
}
.navbar-brand img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.6901960784);
  color: #483285;
  font-size: 1rem;
  margin: 0.5rem;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  height: auto;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.fas {
  font-weight: bold;
  margin-right: 1rem;
}

#language-switcher-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #54b4b8;
  border: 1px solid #ccc;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #483285;
  line-height: 1.5;
  letter-spacing: 0.2rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 3rem;
  border-radius: 1rem;
  padding: 1rem;
}
#language-switcher-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

#toggle-navbar-btn {
  background-color: #54b4b8;
  border: 1px solid #ccc;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #483285;
  line-height: 1.5;
  letter-spacing: 0.2rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: fixed;
  width: 3rem;
  height: 3rem;
  z-index: 1000;
  top: 0;
  left: 0;
}
#toggle-navbar-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  width: 100%;
  height: 100vh;
  color: #483285;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
  background-image: url("https: //youtu.be/2sweBz9Ygl0?feature=shared");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}
#home h1 {
  display: none;
  font-family: "Playfair Display", serif;
  font-size: 10rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #483285;
  font-weight: 900;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
  -webkit-animation: wawes 3s infinite alternate ease-in-out;
          animation: wawes 3s infinite alternate ease-in-out;
}

}
@-webkit-keyframes wobble {
  0% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  25% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  75% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}
@keyframes wobble {
  0% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  25% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  75% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}
@-webkit-keyframes wawes {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes wawes {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 10rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #483285;
  font-weight: 900;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
  -webkit-animation: wawes 3s infinite alternate ease-in-out;
          animation: wawes 3s infinite alternate ease-in-out;
}

@media screen and (max-width: 768px) {
  h1 {
    display: none;
    -webkit-animation: wawes 3s infinite alternate ease-in-out;
            animation: wawes 3s infinite alternate ease-in-out;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100vh;
    color: #483285;
    margin-bottom: 2rem;
    border-bottom: 1px solid #ccc;
    background-image: url("https://mjswimacademy.com/wp-content/uploads/2023/04/glasgow-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 2rem;
    border-bottom: 1px solid #ccc;
  }
  p {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #483285;
    letter-spacing: 0.2rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
    background-color: rgba(255, 255, 255, 0.6901960784);
    padding: 1rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  p:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
  }
}
.wobble-text {
  -webkit-animation: wobble 3s infinite alternate ease-in-out;
          animation: wobble 3s infinite alternate ease-in-out;
}

#intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  width: 100%;
  height: 100vh;
  color: #483285;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}
#intro p {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #483285;
  letter-spacing: 0.2rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
  background-color: rgba(255, 255, 255, 0.6901960784);
  padding: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#intro p:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}
@media (max-width: 320px) {
  #intro p {
    font-size: 0.3rem;
    padding: 0;
    margin: 0;
  }
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}
#about h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #483285;
  font-weight: 900;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
}
#about h2 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #483285;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
}
#about p {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #483285;
  line-height: 1.5;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
}

.card-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.profile-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6901960784);
  text-align: center;
  border-radius: 1rem;
  margin: 1rem;
  width: 30rem;
  height: auto;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.profile-image {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -o-object-fit: cover;
     object-fit: cover;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.bio-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #54b4b8;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.bio-trigger:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.card-text {
  font-family: "Lato", sans-serif;
  width: 100%;
  font-size: 1.2rem;
  text-align: justify;
  color: #483285;
  line-height: 1.5;
  margin: 1rem 0.5rem;
  letter-spacing: 0.2rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6901960784);
  color: #483285;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  height: auto;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.about-content:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

#gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}
#gallery h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #483285;
  font-weight: 900;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
}
#gallery h2 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #483285;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
}
#gallery p {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #483285;
  line-height: 1.5;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
}
#gallery .gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
#gallery .gallery-image {
  border-radius: 1rem;
  width: 30rem;
  height: 30rem;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 1rem;
}
#gallery .gallery-image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}
#gallery .gallery-image img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;
}
.gallery-controls button {
  background-color: #54b4b8;
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 1rem;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #483285;
  line-height: 1.5;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.gallery-controls button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.gallery-thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
.gallery-thumbnails img {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  margin: 1rem;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.gallery-thumbnails img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

#class-cards {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
}
#class-cards .col-md-4,
#class-cards .col-md-12 {
  width: 100%;
  height: auto;
  margin: 3rem 0;
}
#class-cards h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #483285;
  font-weight: 900;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
}
#class-cards h2 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #483285;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
}
#class-cards p {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #483285;
  line-height: 1.5;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
}
#class-cards .class-card {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 66.67%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  cursor: pointer;
}
#class-cards .class-card-front,
#class-cards .class-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  border-radius: 1rem;
}
#class-cards .class-card-front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#class-cards .class-card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#class-cards .class-card:hover .class-card-front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
#class-cards .class-card:hover .class-card-back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
#class-cards .class-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}
#class-cards .class-card h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #483285;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
}
#class-cards .class-card p {
  font-size: 16px;
  text-align: center;
  color: #483285;
  font-family: "Lato", sans-serif;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
}
#class-cards .class-card span {
  font-weight: 900;
  text-transform: capitalize;
  font-size: 2.5rem;
  color: #483285;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.6901960784);
  border-top: 1px solid #ccc;
  padding: 1rem;
}
#footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
#footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6901960784);
  color: #483285;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  height: auto;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#footer li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}
#footer h3 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #483285;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
}
#footer a {
  text-decoration: none;
  color: #483285;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
#footer p {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #483285;
  line-height: 1.5;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
}
#footer #alfagonggong {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #483285;
  text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
}
#footer #alfagonggong:hover {
  color: #54b4b8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.fa-phone:hover {
  cursor: default;
}

#googleMap {
  width: 100%;
  height: 400px;
  margin-bottom: 2rem;
}